// src/index.js
import React from "react";
import { createRoot } from "react-dom/client";
import App from "./App";
import "./index.css"; // optional - create for styles or remove if you don't have it

const container = document.getElementById("root");
const root = createRoot(container);
root.render(<App />);
